* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: black;
}

.slider {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3%;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}

.el {
    flex: 1;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    margin: 20px;
    border-radius: 15px;
    transition: all .7s;
}

.el img {
    cursor: pointer;
    border: none;
    height: 100%;
}

.active {
    flex: 10;
}

.el header {
    font-family: "Calibri Light";
    padding: 0px 30px;
    font-size: 30px;
    bottom: 30px;
    position: absolute;
    opacity: 0;
    transition: all .5s .2s;
}

.active header{
    opacity: 1;
}